<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All right</h1>
    <form action="{% url 'main:fruit_info'%}" method="POST">
        {% csrf_token %}
        <select name="select" id="okok">]
            {% for fruit in fruits %}
            <option value="{{ fruit }}">{{ fruit }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="submit">
    </form>
</body>
</html>